.card-selection-container {
  display: flex;
  align-items: flex-end;
  overflow-x: auto;
  overflow-y: hidden;
  width: 90vw;
}

.container {
  display: flex;
  flex-direction: column;
  width: 97vw;
  justify-content: center;
  align-items: center;
}

.container > * {
  text-align: center;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blinker 1.5s infinite;
}

@keyframes blinker {
  60% {
    opacity: 0.2;
  }
}

img {
  height: 50px;
}

.card {
  z-index: 1;
  transition: 0.2s;
  margin-top: 5rem;
}

.card:not(:first-child) {
  margin-left: calc(9.5rem*-1);
}


::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #8f00bb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #730096;
}